<h1>Listar Marcas</h1>

<table class="table table-striped table-bordered table">
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @marks.each do |mark| %>
  <tr>
    <td><%= mark.nombre %></td>
    <td><%= link_to 'Show', mark %></td>
    <td><%= link_to 'Edit', edit_mark_path(mark) %></td>
    <td><%= link_to 'Destroy', mark, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Marca', new_mark_path , class: 'btn btn-primary'%>
