<h1>Listar Escaners</h1>

<table class="table table-striped table-bordered table">
  <tr>
    <th>Modelo</th>
    <th>Marca</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scanners.each do |scanner| %>
  <tr>
    <td><%= scanner.modelo %></td>
    <td><%= scanner.mark.nombre %></td>
    <td><%= link_to 'Show', scanner %></td>
    <td><%= link_to 'Edit', edit_scanner_path(scanner) %></td>
    <td><%= link_to 'Destroy', scanner, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Escaner', new_scanner_path, class: 'btn btn-primary' %>
