<h1>Listar HD's</h1>

<table class="table table-striped table-bordered table">
  <tr>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Cache</th>
    <th>Capacidad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @disks.each do |disk| %>
  <tr>
    <td><%= disk.mark_id %></td>
    <td><%= disk.modelo %></td>
    <td><%= disk.cache %></td>
    <td><%= disk.capacidad %></td>
    <td><%= link_to 'Show', disk %></td>
    <td><%= link_to 'Edit', edit_disk_path(disk) %></td>
    <td><%= link_to 'Destroy', disk, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo HD', new_disk_path, class: 'btn btn-primary' %>
