<h1>Listar Monitores</h1>

<table class="table table-striped table-bordered table">
  <tr>
    <th>Modelo</th>
    <th>Marca</th>
    <th>Tamanio</th>
    <th>Tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @screens.each do |screen| %>
  <tr>
    <td><%= screen.modelo %></td>
    <td><%= screen.mark.nombre %></td>
    <td><%= screen.size.pulgadas %></td>
    <td><%= screen.type.nombre %></td>
    <td><%= link_to 'Show', screen %></td>
    <td><%= link_to 'Edit', edit_screen_path(screen) %></td>
    <td><%= link_to 'Destroy', screen, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Monitor', new_screen_path, class: 'btn btn-primary' %>
