<p id="notice"><%= notice %></p>

<p>
  <b>Modelo:</b>
  <%= @screen.modelo %>
</p>

<p>
  <b>Mark:</b>
  <%= @screen.mark.nombre %>
</p>

<p>
  <b>Size:</b>
  <%= @screen.size.pulgadas %>
</p>

<p>
  <b>Type:</b>
  <%= @screen.type.nombre %>
</p>


<%= link_to 'Edit', edit_screen_path(@screen) %> |
<%= link_to 'Back', screens_path %>
