<h1>Listar Tamanios</h1>

<table class="table table-striped table-bordered table">
  <tr>
    <th>Pulgadas</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sizes.each do |size| %>
  <tr>
    <td><%= size.pulgadas %></td>
    <td><%= link_to 'Show', size %></td>
    <td><%= link_to 'Edit', edit_size_path(size) %></td>
    <td><%= link_to 'Destroy', size, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Tamanio', new_size_path, class: 'btn btn-primary' %>
