<h1>Listar Empresa</h1>

<table class="table table-striped table-bordered table">
  <tr>
    <th>Nombre</th>
    <th>Cuit</th>
    <th>Direcci&oacute;n</th>
    <th>Web</th>
    <th>Tel&eacute;fono1</th>
    <th>Tel&eacute;fono2</th>
    <th>Tel&eacute;fono3</th>
    <th>Contacto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.nombre %></td>
    <td><%= company.cuit %></td>
    <td><%= company.direccion %></td>
    <td><%= company.web %></td>
    <td><%= company.telefono1 %></td>
    <td><%= company.telefono2 %></td>
    <td><%= company.telefono3 %></td>
    <td><%= company.contacto %></td>
    <td><%= link_to 'Show', company %></td>
    <td><%= link_to 'Edit', edit_company_path(company) %></td>
    <td><%= link_to 'Destroy', company, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path %>
