<h1>Listar Proyectos</h1>

<table class="table table-striped table-bordered">
  <tr>
    <th>Url</th>
    <th>Nombre</th>
    <th>Empresa</th>
    <th>Estado</th>
    <th>Detalle</th>
    <th>Observacion</th>
    <th>Responsable</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proyects.each do |proyect| %>
  <tr>
    <td><%= proyect.url %></td>
    <td><%= proyect.nombre %></td>
    <td><%= proyect.company.nombre %></td>
    <td><%= proyect.estado %></td>
    <td><%= proyect.detalle %></td>
    <td><%= proyect.observacion %></td>
    <td><%= proyect.owner.name %></td>
    <td><%= link_to 'Show', proyect %></td>
    <td><%= link_to 'Edit', edit_proyect_path(proyect) %></td>
    <td><%= link_to 'Destroy', proyect, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Proyecto', new_proyect_path, class: 'btn btn-primary' %>
