<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @system.nombre %>
</p>

<p>
  <b>Version:</b>
  <%= @system.version %>
</p>


<%= link_to 'Edit', edit_system_path(@system) %> |
<%= link_to 'Back', systems_path %>
