<h1>Listar Impresoras</h1>

<table class="table table-striped table-bordered table">
  <tr>
    <th>Modelo</th>
    <th>Marca</th>
    <th>Tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @printers.each do |printer| %>
  <tr>
    <td><%= printer.modelo %></td>
    <td><%= printer.mark.nombre %></td>
    <td><%= printer.type.nombre %></td>
    <td><%= link_to 'Show', printer %></td>
    <td><%= link_to 'Edit', edit_printer_path(printer) %></td>
    <td><%= link_to 'Destroy', printer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Impresora', new_printer_path, class: 'btn btn-primary' %>
