<h1>Listar Memorias</h1>

<table class="table table-striped table-bordered table">
  <tr>
    <th>Capacidad</th>
    <th>Marca</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @memories.each do |memory| %>
  <tr>
    <td><%= memory.capacidad %></td>
    <td><%= memory.mark.nombre %></td>
    <td><%= link_to raw("<i class='icon-search icon-white'></i>"), memory, class: 'btn btn-warning' %></td>
    <td><%= link_to 'Edit', edit_memory_path(memory), class: 'btn btn-warning' %></td>
    <td><%= link_to 'Destroy', memory, confirm: 'Are you sure?', method: :delete, class: 'btn btn-warning' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Memoria', new_memory_path, class: 'btn btn-primary' %>
