<h1>Listar Mothers</h1>

<table class="table table-striped table-bordered table">
  <tr>
    <th>Modelo</th>
    <th>Marca</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @motherboards.each do |motherboard| %>
  <tr>
    <td><%= motherboard.modelo %></td>
    <td><%= motherboard.mark.nombre %></td>
    <td><%= link_to 'Show', motherboard %></td>
    <td><%= link_to 'Edit', edit_motherboard_path(motherboard) %></td>
    <td><%= link_to 'Destroy', motherboard, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Motherboard', new_motherboard_path, class: 'btn btn-primary' %>
